include ./includes/navbar.jade

block styles
  link(rel="stylesheet", href="/css/admin.css")

block body
  h2.admin-title Total Users: 
    span#user-count #{users.length}

  table.admin-table.table.table-striped
    thead
      tr
        th #
        th Name
        th Email
        th Role
        th Actions
    tbody#user-list
      each user, index in users
        tr
          td #{index + 1}
          td #{user.name}
          td #{user.email}
          td #{user.role}
          td
            button.admin-btn.btn-edit(onclick=`editUser("${user.userId}")`) Edit
            button.admin-btn.btn-delete(onclick=`deleteUser("${user.userId}")`) Delete

block scripts
  script(src="https://code.jquery.com/jquery-3.7.1.min.js")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
  script(src="/js/admin.js")
  script(src="/js/mainScript.js")
  script(src="/js/authentication.js")
  script.
    window.addEventListener("DOMContentLoaded", authenticate);
